<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Ajouter un jeu</title>
</head>
<body>
    <form action="/addgame" method="POST">
        <label>Nom du jeu :</label>
        <input type="text" name="name">

        <label>Editor :</label>
        <input type="text" name="editor">

        <label>Support :</label>
        <input type="text" name="support">

        <label>Genre :</label>
        <input type="text" name="genre">

        <label>Description :</label>
        <input type="text" name="desc">

        <label>Prix :</label>
        <input type="text" name="prix">

        <button type="submit">Envoyer</button>
    </form>

</body>
</html>